<div
  [id]="SALES_ORDER_ID.SALES_ORDER_DETAILS"
  class="row mx-4 my-3"
  *ngIf="salesOrder"
>
  <div class="col-12 mb-3">
    <div class="breadcrumb d-flex gap-2 mb-0">
      @for (page of NAVIGATION_PAGES; track page.route) {
        <p
          [class.pointer]="page.route"
          [class.text-info]="page.route"
          [class.text-grey]="!page.route"
          [routerLink]="page.route"
        >
          {{ page.label }}
        </p>
        @if (page.route) {
          <span class="text-grey"> > </span>
        }
      }
    </div>
    <h2 class="float-start text-primary">
      {{ salesOrder.subject || ("shared.missingValue" | translate) }}
    </h2>
  </div>
  <div [id]="SALES_ORDER_ID.SALES_ORDER_DETAILS_LIST">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-12 p-0 d-flex justify-content-start gap-2">
          <div class="card-tile purple">
            <span class="card-tile-top">
              {{ "salesOrder.table.contactName" | translate }}
            </span>
            <span class="card-tile-bottom">
              {{
                salesOrder.contactName || ("shared.missingValue" | translate)
              }}
            </span>
          </div>

          <div class="card-tile">
            <span class="card-tile-top">
              {{ "salesOrder.table.status" | translate }}
            </span>
            <span class="card-tile-bottom">
              @if (salesOrder.status) {
                <div
                  class="badge rounded-pill"
                  [ngClass]="
                    salesOrderService.getStatusBadgeColor(salesOrder.status)
                  "
                >
                  <span>{{ salesOrder.status }}</span>
                </div>
              } @else {
                {{ "shared.missingValue" | translate }}
              }
            </span>
          </div>

          <div class="card-tile blue">
            <span class="card-tile-top">
              {{ "salesOrder.table.total" | translate }}
            </span>
            <span class="card-tile-bottom">
              $ {{ salesOrder.total || 0 | number: "1.0-2" }}
            </span>
          </div>

          <div class="card-tile teal">
            <span class="card-tile-top">
              {{ "salesOrder.table.assignedTo" | translate }}
            </span>
            <span class="card-tile-bottom">
              {{ salesOrder.assignedTo || ("shared.missingValue" | translate) }}
            </span>
          </div>

          <div class="card-tile maroon">
            <span class="card-tile-top">
              {{ "salesOrder.table.creator" | translate }}
            </span>
            <span class="card-tile-bottom">
              {{ salesOrder.creator || ("shared.missingValue" | translate) }}
            </span>
          </div>

          <div class="card-tile navy">
            <span class="card-tile-top">
              {{ "salesOrder.table.createdTime" | translate }}
            </span>
            <span class="card-tile-bottom">
              {{
                (salesOrder.createdTime | date: "MMM dd, yyyy") ||
                  ("shared.missingValue" | translate)
              }}
            </span>
          </div>

          <div class="card-tile sage">
            <span class="card-tile-top">
              {{ "salesOrder.table.updatedTime" | translate }}
            </span>
            <span class="card-tile-bottom">
              {{
                (salesOrder.updatedTime | date: "MMM dd, yyyy") ||
                  ("shared.missingValue" | translate)
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-12 p-0">
          <div class="card">
            <div class="card-header">
              {{ "salesOrder.table.description" | translate }}
            </div>
            <p class="px-3 pt-3">
              {{
                salesOrder.description || ("shared.missingValue" | translate)
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
