<div [id]="SALES_ORDER_ID.SALES_ORDER_DIALOG" class="card-dialog">
  <h2 mat-dialog-title class="card-header d-flex align-items-center mt-2">
    <div>
      @if (this.data.action === "add") {
        <fa-icon [icon]="icon.faPlus" size="lg" class="me-2"></fa-icon>
      } @else {
        <fa-icon [icon]="icon.faPencil" size="lg" class="me-2"></fa-icon>
      }
    </div>
    {{
      this.data.action === "add"
        ? ("salesOrder.createNewSalesOrder" | translate)
        : ("salesOrder.editSalesOrderInfo" | translate)
    }}
  </h2>
  <mat-dialog-content class="card-content">
    <form
      [id]="
        this.data.action === 'add'
          ? SALES_ORDER_ID.SALES_ORDER_FORM_CREATE
          : SALES_ORDER_ID.SALES_ORDER_FORM_EDIT
      "
      class="mx-3 my-4"
      [formGroup]="salesOrderForm"
    >
      <div class="row">
        <div class="col-8">
          <h5>
            {{ "salesOrder.table.subject" | translate }}
            <span class="text-danger">*</span>
          </h5>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="subject" />
            @if (salesOrderForm.controls["subject"].errors?.["required"]) {
              <mat-error>
                {{ "shared.error.subjectRequired" | translate }}
              </mat-error>
            }
            @if (
              salesOrderForm.controls["subject"].errors?.["noSpecialCharacters"]
            ) {
              <mat-error>
                {{
                  "shared.error.noSpecialCharacters"
                    | translate
                      : {
                          fieldName: ("salesOrder.table.subject" | translate),
                        }
                }}
              </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-4">
          <h5>
            {{ "salesOrder.table.status" | translate }}
            <span class="text-danger">*</span>
          </h5>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="status">
              <mat-option *ngFor="let stt of statusNames" [value]="stt">
                {{ stt }}
              </mat-option>
            </mat-select>
            @if (salesOrderForm.controls["status"].errors?.["required"]) {
              <mat-error>
                {{ "shared.error.statusRequired" | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-4">
          <h5>
            {{ "salesOrder.table.contactName" | translate }}
            <span class="text-danger">*</span>
          </h5>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="contactName">
              <mat-option *ngFor="let contact of contacts" [value]="contact">
                {{ contact }}
              </mat-option>
            </mat-select>
            @if (salesOrderForm.controls["contactName"].errors?.["required"]) {
              <mat-error>
                {{ "shared.error.contactNameRequired" | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-4">
          <h5>
            {{ "salesOrder.table.assignedTo" | translate }}
            <span class="text-danger">*</span>
          </h5>
          <mat-form-field
            appearance="outline"
            *ngIf="assignedToUsers && assignedToUsers.length > 0"
            class="w-100"
          >
            <mat-select formControlName="assignedTo">
              <mat-option *ngFor="let user of assignedToUsers" [value]="user">
                {{ user }}
              </mat-option>
            </mat-select>
            @if (salesOrderForm.controls["assignedTo"].errors?.["required"]) {
              <mat-error>
                {{ "shared.error.assignedToRequired" | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-4">
          <h5>
            {{ "salesOrder.table.total" | translate }}
            <span class="text-danger">*</span>
          </h5>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="total" />
            @if (salesOrderForm.controls["total"].errors?.["required"]) {
              <mat-error>
                {{ "shared.error.totalRequired" | translate }}
              </mat-error>
            }
            @if (salesOrderForm.controls["total"].errors?.["pattern"]) {
              <mat-error>
                {{ "shared.error.totalInvalid" | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h5>
            {{ "salesOrder.table.description" | translate }}
          </h5>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      class="btn-secondary"
      [disableRipple]="true"
      [id]="SALES_ORDER_ID.BUTTON_CANCEL"
    >
      {{ "shared.cancel" | translate }}
    </button>
    <button
      mat-button
      [disableRipple]="true"
      [disabled]="salesOrderForm.invalid"
      [id]="SALES_ORDER_ID.BUTTON_SUBMIT"
      [ngClass]="salesOrderForm.invalid ? 'btn-disabled' : 'btn-primary'"
      (click)="!salesOrderForm.invalid && onSubmit()"
    >
      {{ "shared.submit" | translate }}
    </button>
  </mat-dialog-actions>
</div>
