<div [id]="USER_ID.USER_DIALOG">
  <h2 mat-dialog-title>
    {{ "user.createNewUser" | translate }}
  </h2>
  <mat-dialog-content>
    <form
      class="mx-3 my-4"
      [formGroup]="userForm"
      [id]="USER_ID.USER_FORM_CREATE"
    >
      <div class="row">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "user.table.name" | translate }}
          </mat-label>
          <input matInput formControlName="name" />
          @if (userForm.controls["name"].errors?.["required"]) {
            <mat-error>
              {{ "shared.error.nameRequired" | translate }}
            </mat-error>
          }
          @if (userForm.controls["name"].errors?.["noSpecialCharacters"]) {
            <mat-error>
              {{
                "shared.error.noSpecialCharacters"
                  | translate
                    : {
                        fieldName: ("user.table.name" | translate),
                      }
              }}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "user.table.username" | translate }}
          </mat-label>
          <input matInput formControlName="username" />
          @if (userForm.controls["username"].errors?.["required"]) {
            <mat-error>
              {{ "shared.error.usernameRequired" | translate }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "user.table.password" | translate }}
          </mat-label>
          <input matInput type="password" formControlName="password" />
          @if (
            userForm.invalid &&
            userForm.controls["password"].errors?.["required"]
          ) {
            <mat-error>
              {{ "shared.error.passwordRequired" | translate }}
            </mat-error>
          }
          @if (userForm.controls["password"].errors?.["minlength"]) {
            <mat-error>
              {{ "shared.error.passwordMinLength" | translate }}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "user.table.confirmPassword" | translate }}
          </mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          @if (userForm.controls["confirmPassword"].errors?.["required"]) {
            <mat-error>
              {{ "shared.error.confirmPasswordRequired" | translate }}
            </mat-error>
          }
          @if (userForm.controls["confirmPassword"].errors?.["matching"]) {
            <mat-error>
              {{ "shared.error.passwordsMustMatch" | translate }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "user.table.email" | translate }}
          </mat-label>
          <input matInput formControlName="email" />
          <mat-hint>
            {{ "shared.hint.email" | translate }}
          </mat-hint>
          @if (userForm.controls["email"].errors?.["required"]) {
            <mat-error>
              {{ "shared.error.emailRequired" | translate }}
            </mat-error>
          }
          @if (userForm.controls["email"].errors?.["email"]) {
            <mat-error>
              {{ "shared.error.emailInvalid" | translate }}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "user.table.phone" | translate }}
          </mat-label>
          <input matInput formControlName="phone" />
          @if (userForm.controls["phone"].errors?.["required"]) {
            <mat-error>
              {{ "shared.error.phoneRequired" | translate }}
            </mat-error>
          }
          @if (userForm.controls["phone"].errors?.["pattern"]) {
            <mat-error>
              {{ "shared.error.phoneInvalid" | translate }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3 d-flex align-items-center">
        <mat-checkbox class="col-2" formControlName="isAdmin">
          {{ "user.table.role" | translate }}
        </mat-checkbox>
        <mat-slide-toggle class="col-2 mx-4" formControlName="isActive">
          {{ "user.table.status" | translate }}
        </mat-slide-toggle>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [id]="USER_ID.BUTTON_CANCEL">
      {{ "shared.cancel" | translate }}
    </button>
    <button
      mat-button
      cdkFocusInitial
      (click)="!userForm.invalid && onSubmit()"
      [ngClass]="userForm.invalid ? 'btn-disabled' : 'btn-primary'"
      [id]="USER_ID.BUTTON_SUBMIT"
    >
      {{ "shared.submit" | translate }}
    </button>
  </mat-dialog-actions>
</div>
