<div [id]="AUTH_ID.DIALOG_PASSWORD_CHANGE" class="card-dialog">
  <h2 mat-dialog-title class="card-header d-flex align-items-center mt-2">
    <div>
      <fa-icon [icon]="icon.faKey" size="lg" class="me-2"></fa-icon>
      Change Password
    </div>
  </h2>
  <mat-dialog-content class="card-content">
    <form class="mx-3 my-4" [formGroup]="passwordForm">
      <div class="row my-3">
        <div class="col-12">
          <h5>
            {{ "user.table.password" | translate }}
            <span class="text-danger">*</span>
          </h5>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="password" formControlName="password" />
            @if (
              passwordForm.invalid &&
              passwordForm.controls["password"].errors?.["required"]
            ) {
              <mat-error>
                {{ "shared.error.passwordRequired" | translate }}
              </mat-error>
            }
            @if (passwordForm.controls["password"].errors?.["minlength"]) {
              <mat-error>
                {{ "shared.error.passwordMinLength" | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-12">
          <h5>
            {{ "user.table.confirmPassword" | translate }}
            <span class="text-danger">*</span>
          </h5>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="password" formControlName="confirmPassword" />
            @if (
              passwordForm.controls["confirmPassword"].errors?.["required"]
            ) {
              <mat-error>
                {{ "shared.error.confirmPasswordRequired" | translate }}
              </mat-error>
            }
            @if (
              passwordForm.controls["confirmPassword"].errors?.["matching"]
            ) {
              <mat-error>
                {{ "shared.error.passwordsMustMatch" | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="card-actions">
    <button
      mat-button
      mat-dialog-close
      class="btn-secondary"
      [disableRipple]="true"
      [id]="AUTH_ID.BUTTON_CANCEL"
    >
      {{ "shared.cancel" | translate }}
    </button>
    <button
      mat-button
      [disableRipple]="true"
      [disabled]="passwordForm.invalid"
      [ngClass]="passwordForm.invalid ? 'btn-disabled' : 'btn-primary'"
      (click)="!passwordForm.invalid && onSubmit()"
      [id]="AUTH_ID.BUTTON_SUBMIT"
    >
      {{ "shared.save" | translate }}
    </button>
  </mat-dialog-actions>
</div>
