<div [id]="DASHBOARD_ID.DASHBOARD_MAIN_SECTION">
  <div class="row mx-4 my-3">
    <div class="col-12">
      <h2 class="float-start text-primary">
        {{ "dashboard.title" | translate }}
      </h2>
    </div>
    <div class="col-12 d-flex flex-column gap-4 mb-3">
      <div class="d-flex justify-content-start gap-2">
        <div class="dashboard-card px-3 py-2 navy">
          <div class="card-left">
            <div class="card-title">
              <p>{{ "dashboard.totalContacts" | translate }}</p>
            </div>
            <div class="card-value">
              <h2 class="text-primary">
                {{ totalContacts | number: "1.0-2" }}
              </h2>
            </div>
          </div>
          <div class="card-right">
            <fa-icon [icon]="icon.faUserTag" size="lg" class="me-1"></fa-icon>
          </div>
        </div>

        <div class="dashboard-card px-3 py-2 purple">
          <div class="card-left">
            <div class="card-title">
              <p>{{ "dashboard.totalSalesOrders" | translate }}</p>
            </div>
            <div class="card-value">
              <h2 class="text-primary">
                {{ totalSalesOrders | number: "1.0-2" }}
              </h2>
            </div>
          </div>
          <div class="card-right">
            <fa-icon
              [icon]="icon.faBagShopping"
              size="lg"
              class="me-1"
            ></fa-icon>
          </div>
        </div>

        <div class="dashboard-card px-3 py-2 green">
          <div class="card-left">
            <div class="card-title">
              <p>{{ "dashboard.totalRevenue" | translate }}</p>
            </div>
            <div class="card-value">
              <h2 class="text-primary">
                $ {{ totalRevenue | number: "1.0-2" }}
              </h2>
            </div>
          </div>
          <div class="card-right">
            <fa-icon
              [icon]="icon.faHandHoldingDollar"
              size="lg"
              class="me-1"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 mb-3">
      <div class="dashboard-chart-wrapper" id="contact-chart">
        <div class="chart-title">
          <h5>{{ "contact.title" | translate }}</h5>
          <span>
            {{ "contact.contactCountByLeadSrc" | translate }}
          </span>
        </div>
        <canvas
          #contactChart
          baseChart
          class="mx-auto w-50 h-50"
          [type]="'doughnut'"
          [datasets]="contactPieChartDatasets"
          [labels]="contactPieChartLabels"
          [options]="contactPieChartOptions"
        >
        </canvas>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="dashboard-chart-wrapper" id="sales-order-chart">
        <div class="chart-title">
          <h5>{{ "salesOrder.title" | translate }}</h5>
          <span> {{ "salesOrder.salesOrderCountByStatus" | translate }} </span>
        </div>
        <canvas
          #salesOrderChart
          baseChart
          class="mx-auto w-50 h-50"
          [type]="'doughnut'"
          [datasets]="salesOrderPieChartDatasets"
          [labels]="salesOrderPieChartLabels"
          [options]="salesOrderPieChartOptions"
        >
        </canvas>
      </div>
    </div>

    <!-- <div class="col-12 mb-3">
      <div class="dashboard-chart-wrapper bar-chart">
        <div class="chart-title">
          <h5>{{ "salesOrder.monthlyRevenue" | translate }}</h5>
          <span>{{ "salesOrder.monthlyRevenueDistribution" | translate }}</span>
        </div>
        <canvas
          width="900"
          height="600"
          class="mx-auto"
          baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [type]="'bar'"
        ></canvas>
      </div>
    </div> -->
  </div>
</div>
