<div class="row mx-4 my-3">
  <div class="col-12">
    <h2 class="float-start text-primary">
      {{ "user.title" | translate }}
    </h2>
  </div>
  <div class="col-12 mb-3">
    <div class="float-end d-flex align-items-center gap-2">
      <button
        mat-button
        class="btn-primary"
        [id]="USER_ID.BUTTON_CREATE"
        (click)="openUserDialog('add')"
      >
        <fa-icon [icon]="icon.faPlus" size="lg" class="me-2"></fa-icon>
        <span>
          {{ "user.createNewUser" | translate }}
        </span>
      </button>
    </div>
  </div>
  <div class="col-12 user-list mb-3">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      [class.no-data-table]="totalRecords === 0"
      [id]="USER_ID.USER_LIST"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ "user.table.name" | translate }}
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ "user.table.email" | translate }}
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ "user.table.phone" | translate }}
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.phone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ "user.table.role" | translate }}
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.isAdmin ? "Admin" : "Employee" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ "user.table.status" | translate }}
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <div
            class="badge rounded-pill"
            [class.maroon]="!element.isActive"
            [class.green]="element.isActive"
          >
            <span>{{ element.isActive ? "Active" : "Terminated" }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ "user.table.createdTime" | translate }}
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.createdTime | date }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ "shared.actions" | translate }}
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <fa-icon
            [icon]="icon.faPencil"
            size="lg"
            class="text-warning pointer mx-1"
            [matTooltip]="'shared.edit' | translate"
            (click)="openUserDialog('edit', element._id)"
          ></fa-icon>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <app-no-data-found
      *ngIf="totalRecords === 0"
      [panelId]="USER_ID.USER_LIST_NOT_FOUND"
    ></app-no-data-found>
  </div>
  <div [hidden]="totalRecords === 0">
    <mat-paginator
      [id]="USER_ID.USER_LIST_PAGINATION"
      #userPaginator
      [length]="totalRecords"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
    ></mat-paginator>
  </div>
</div>
