@use "./variables" as *;

.mat-mdc-form-field {
  font-size: 14px !important;
  font-family: "Atlassian Sans" !important;
  --mat-form-field-container-height: 36px;
  .mat-mdc-text-field-wrapper {
    --mdc-outlined-text-field-container-shape: 10px !important;
  }
  --mat-form-field-container-vertical-padding: 14px;
  .mdc-floating-label {
    font-size: 14px !important;
  }
  .mat-mdc-form-field-error-wrapper {
    padding: 0;
    .mat-mdc-form-field-error {
      font-style: italic;
    }
  }
  .mat-mdc-form-field-hint-wrapper {
    padding: 0;
  }
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  border-color: $black30 !important;
}

.search-field {
  height: 48px;
  .mat-mdc-text-field-wrapper {
    border-radius: 10px !important;
    background-color: $black20;
    .mat-mdc-notch-piece {
      border: none !important;
    }
    .mat-mdc-form-field-infix {
      width: 350px;
      height: 48px;
      display: flex;
      gap: 12px;
      fa-icon,
      span {
        color: $black60;
      }
      fa-icon {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        border-radius: 12px;
      }
    }
  }
  .active {
    &:hover {
      background-color: $black30;
    }
  }
}
