$primary: #254e7b;
$secondary: #5584b1;
$tertiary: #85c1e5;
$danger: #d70015;
$warning: #ffcc00;
$success: #248a3d;
$info: #1BA2DB;
$light-blue: #cbe2ef;
$light-yellow: #f8f3ea;
$black90: #212529;
$black80: #343a40;
$black70: #495057;
$black60: #6c757d;
$black50: #adb5bd;
$black40: #ced4da;
$black30: #dee2e6;
$black20: #e9ecef;
$black10: #f8f9fa;
$pure-white: #ffffff;
$daisy-white: #fafafa;
$bg-gradient: linear-gradient(90deg, #f8f3ea 5%, #e1ebed 50%, #cbe2ef 95%);
$grey: #f2efe7;
$grey-2: rgb(229, 229, 234);
$grey-3: rgb(242, 242, 247);
$grey-text: #8e8e93;
$dark: #031c1d;
